# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
.coverage
*.cover
htmlcov/
.tox/
.nox/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE/editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log
*.sqlite3

# macOS files
.DS_Store
